@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
/*font-family: 'Montserrat', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; }

/* BANNER INICIAL*/
.banner-hero {
  background-image: url("../img-banners/ZMB_banner-home.png");
  height: 30vh;
  background-size: cover;
  box-shadow: 0px 4px 20px gray; }

.banner-hero {
  text-align: left;
  color: antiquewhite;
  padding: 2rem;
  padding-right: 30vw;
  position: relative;
  top: 50%; }

.banner-hero-servicios {
  background-image: url("../img-banners/ZMB_banner-servicios.png");
  height: 30vh;
  background-size: cover;
  box-shadow: 0px 4px 20px gray; }

.banner-hero-servicios {
  text-align: left;
  color: antiquewhite;
  padding: 2rem;
  padding-right: 30vw;
  position: relative;
  top: 50%; }

.banner-hero-quienesomos {
  background-image: url("../img-banners/ZMB_banner-quienes-somos.png");
  height: 30vh;
  background-size: cover;
  box-shadow: 0px 4px 20px gray; }

.banner-hero-quienesomos {
  text-align: left;
  color: antiquewhite;
  padding: 2rem;
  padding-right: 30vw;
  position: relative;
  top: 50%; }

.banner-hero-contacto {
  background-image: url("../img-banners/ZMB_banner-contacto.png");
  height: 30vh;
  background-size: cover;
  box-shadow: 0px 4px 20px gray; }

.banner-hero-contacto {
  text-align: left;
  color: antiquewhite;
  padding: 2rem;
  padding-right: 30vw;
  position: relative;
  top: 50%; }

@media (min-width: 768px) {
  .banner-hero {
    height: 70vh; }
  .banner-hero {
    padding: 20vh;
    padding-right: 30%;
    font-size: 180%; }
  .banner-hero-servicios {
    height: 70vh; }
  .banner-hero-servicios {
    padding: 20vh;
    padding-right: 40%;
    font-size: 180%; }
  .banner-hero-quienesomos {
    height: 70vh;
    padding: 20vh;
    padding-right: 40%;
    font-size: 180%; }
  .banner-hero-contacto {
    height: 70vh;
    padding: 20vh;
    padding-right: 40%;
    font-size: 180%; } }

/* FOOTER */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: linear-gradient(0deg, #023047 0%, #0a5566 61%);
  padding: 3rem; }

.footer-text {
  color: antiquewhite;
  font-size: 11px;
  text-decoration: none;
  list-style: none; }

.logo-footer img {
  width: 50px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem; }

@media (min-width: 768px) {
  .footer {
    padding-left: 15vh;
    padding-right: 15vh; }
  .footer-text {
    font-size: 16px; }
  .logo-footer img {
    width: 80px; } }

/* MENÚ */
.header-flex {
  background: linear-gradient(0deg, #023047 0%, #0a5566 61%);
  box-shadow: 0px 4px 20px gray;
  display: flex;
  flex-direction: column;
  align-items: center; }

.logo img {
  width: 120px;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem; }

.header-flex ul {
  display: flex;
  list-style: none; }

.header-flex li {
  margin: 0.5rem;
  font-size: 13px;
  margin-bottom: 1rem; }

.header-flex a {
  color: antiquewhite;
  text-decoration: none; }

.menu-destacado {
  font-weight: bold; }

@media (min-width: 768px) {
  .header-flex {
    flex-direction: row;
    justify-content: space-around; }
  .header-flex li {
    margin: 1rem;
    font-size: 16px; } }

/* DESCRIPCIÓN */
.texo-descripcion {
  text-align: center;
  padding: 2rem;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.texo-descripcion p {
  margin-top: 1rem;
  font-size: 13px; }

/* SERVICIOS */
.servicio {
  width: 50vw;
  text-align: center; }

.servicio img {
  width: 40vw;
  margin-bottom: 0.5rem;
  filter: grayscale(40%); }

.servicio p {
  font-size: 13px;
  margin-bottom: 2rem;
  margin: 0.5rem; }

.subtitulo-color {
  background-color: #3d3f40;
  color: antiquewhite;
  text-align: center;
  padding: 3rem; }

/* GRILLA DE SERVICIOS - HOME */
.servicios-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #3d3f40;
  color: antiquewhite;
  padding-bottom: 1rem;
  vertical-align: center; }

.button {
  background-color: #3d3f40;
  padding-bottom: 6rem;
  padding-top: 2rem; }

.button-text {
  font-size: 15px;
  text-decoration: none;
  padding: 8px;
  border-color: none;
  margin-left: 30%;
  margin-right: 30%; }

.button-servicio {
  margin: 0.5rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
  padding: 0.5rem; }

/* CLIENTES */
.subtitulo {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem; }

.clientes-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-bottom: 4rem;
  padding: 1rem;
  vertical-align: center;
  margin-bottom: 4rem; }

.clientes-grid img {
  width: 15vw;
  margin-bottom: 0.5rem; }

@media (min-width: 768px) {
  h2 {
    font-size: xx-large; }
  .texo-descripcion {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding: 6rem; }
  .texo-descripcion p {
    margin-top: 1rem;
    padding-left: 15vh;
    padding-right: 15vh;
    font-size: 16px; }
  .servicio {
    width: 20vw; }
  .servicio img {
    width: 15vw;
    margin-bottom: 2rem; }
  .servicio p {
    font-size: 16px;
    margin-bottom: 1rem; }
  .servicios-grid {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 2rem;
    padding-left: 15vh;
    padding-right: 15vh; }
  .button-text {
    margin-left: 40%;
    margin-right: 40%; }
  .subtitulo {
    padding-top: 8rem;
    padding-bottom: 3rem; }
  .subtitulo-color {
    padding-top: 6rem;
    padding-left: 6rem;
    padding-right: 6rem; }
  .clientes-grid {
    padding-left: 15vh;
    padding-right: 15vh; }
  .clientes-grid img {
    width: 8vw;
    margin-bottom: 1.5rem;
    align-content: center; } }

/* CONTACTO */
.contacto-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 15vh;
  padding-right: 15vh;
  margin-top: 4rem;
  margin-bottom: 4rem; }

.contacto {
  list-style: none;
  text-decoration: none;
  font-weight: normal;
  font-size: large; }

/* FORMULARIO */
.formulario {
  padding-left: 40vh;
  padding-right: 20vh;
  vertical-align: center;
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-color: #3d3f40;
  color: antiquewhite;
  text-decoration: none; }

.formulario input {
  font-size: medium;
  width: 50%;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block; }

#botonform {
  width: 20%; }

.formulario h2 {
  text-align: left; }

.legal {
  font-size: 10px; }

/* EQUIPO */
.equipo-flex {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  padding-left: 20vh;
  padding-right: 20vh; }

.equipo img {
  width: 200px;
  margin: 1.5rem; }

.equipo-flex ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 1rem; }

.equipo-flex li {
  margin: 0.5rem; }

.img-logo-linkedin {
  width: 50px; }

/* GRILLA DE EQUIPO */
.equipo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 1rem;
  vertical-align: center; }

.banner-hero-noticia {
  background-image: url(/recursos/imagenes/ZMB_banner-noticias.png);
  height: 30vh;
  background-size: cover;
  box-shadow: 0px 4px 20px gray; }

.banner-hero-noticia {
  text-align: left;
  color: antiquewhite;
  padding: 2rem;
  padding-right: 30vw;
  position: relative;
  top: 50%; }

.noticia-flex {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding-left: 5vh;
  padding-right: 5vh;
  align-items: center; }
  .noticia-flex li {
    list-style: none; }
  .noticia-flex h3 {
    margin-bottom: 1rem; }
  .noticia-flex img {
    width: 200px;
    margin: 0.5rem; }

.noticias-sub {
  padding: 2rem;
  text-align: center; }

.noticia {
  padding-left: 4rem;
  padding-right: 4rem; }

@media (min-width: 768px) {
  .banner-hero-noticia {
    height: 70vh;
    padding: 20vh;
    padding-right: 40%;
    font-size: 180%; }
  .noticias-sub {
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem; }
  .noticia-flex {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    padding-left: 5vh;
    padding-right: 20vh; } }

/* TRANSFORMACIONES */
.logo img:hover {
  transform: scale(1.1, 1.1); }

.header-flex a:hover {
  font-weight: bold; }

.button-text:hover {
  transform: scale(1.1, 1.1); }

.button-servicio:hover {
  transform: scale(1.1, 1.1); }

.img-logo-linkedin:hover {
  transform: scale(1.3, 1.3); }
